@media screen and (max-width: 700px) {
  header {
    padding: 0;
  }

  header .right-header {
    padding: 0.8rem 2rem 2rem 2rem !important;
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .header-content .left-header .h-shape {
    display: none;
  }
  .header-content .left-header .image {
    height: 80%;
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .header-content .right-header {
    grid-row: 1;
    width: 90%;
    margin: auto;
    padding-bottom: 0 !important;
  }
  .header-content .right-header .name {
    font-size: 1.6rem;
  }
  .contact-container {
    padding-top: 6rem;
  }
  .contact-container .main-title {
    margin-bottom: 1rem;
  }
  .contact-container .main-title h2 {
    font-size: 2.2rem;
  }
  .contact-container .main-title h2 .highlighted {
    display: none;
  }
  .contact-container .links-container h3 {
    font-size: 1.1rem;
  }
  .contact-container .links-container .links {
    font-size: 1rem;
  }

  .buttons {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--grey-5);
  }
  .buttons .btn {
    margin: 1rem 0.3rem;
  }

  .active-btn {
    display: block;
    -webkit-animation: bounce-in-top 0.8s both;
            animation: bounce-in-top 0.8s both;
  }
  @-webkit-keyframes bounce-in-top {
    0% {
      transform: translateY(-48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87%, 98% {
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-48px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-26px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-13px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6.5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87%, 98% {
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
}/*# sourceMappingURL=queries.css.map */